@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 10px;
}

main {
  min-height: 100vh;
}

main .container .box {
  text-align: center;
}

main .container .box header .logo {
  background-image: url(images/bg-header-desktop.png);
  height: 36rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 23.5em) {
    main .container .box header .logo {
        background-image: url("images/bg-header-mobile.png");
        background-repeat: no-repeat;
    }
}

main .container .box header h1 {
  font-size: 3.9rem;
  margin-bottom: 1rem;
  color: hsl(210, 10%, 33%);
}

@media (max-width: 48em) {
    main .container .box header h1 {
        font-size: 3.5rem;
    }
}

main .container .box header p {
  font-size: 1.8rem;
  width: 61rem;
  margin-inline: auto;
  padding-bottom: 4rem;
  color: hsl(201, 11%, 66%);
}

@media (max-width: 48em) {
    main .container .box header p {
        width: 35rem;
    }
}

main .container .box header .buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 48em) {
    main .container .box header .buttom {
        flex-direction: column;
        gap: 2rem;
    }
}

main .container .box header .buttom .ios {
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 1rem 3rem;
  background-color: hsl(171, 66%, 44%);
  font-size: 1.8rem;
  border-radius: 5vh;
  box-shadow: 0 3px 1px hsl(171deg 70.65% 34.06%);
}

main .container .box header .buttom .mac {
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 1rem 3rem;
  background-color: hsl(233, 100%, 69%);
  font-size: 1.8rem;
  border-radius: 5vh;
  box-shadow: 0 3px 1px hsl(233deg 88.46% 55.6%);
}

main .container .box .landing {
  padding: 10rem 0 5rem;
}

main .container .box .landing .headding {
  margin-bottom: 2rem;
}

main .container .box .landing .headding h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: hsl(210, 10%, 33%);
}

main .container .box .landing .headding p {
  font-size: 1.8rem;
  width: 70rem;
  margin-inline: auto;
  padding-bottom: 4rem;
  color: hsl(201, 11%, 66%);
}

@media (max-width: 62em) {
    main .container .box .landing .headding p {
        width: 35rem;
    }
}

main .container .box .landing .card {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

@media (max-width: 62em) {
    main .container .box .landing .card  {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

main .container .box .landing .card img {
  margin-left: -30rem;
}

@media (max-width: 62em) {
    main .container .box .landing .card img {
        width: 35rem;
        margin: 0;
    }
}

main .container .box .landing .card article {
  margin: 6rem 0;
  text-align: left;
}

@media (max-width: 62em) {
    main .container .box .landing .card article {
        text-align: center;
    }
}

main .container .box .landing .card article h1 {
  color: hsl(210, 10%, 33%);
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media (max-width: 62em) {
    main .container .box .landing .card article h1 {
        font-size: 2.5rem;
    }
}

main .container .box .landing .card article p {
  font-size: 1.8rem;
  color: hsl(201, 11%, 66%);
  width: 38rem;
}

@media (max-width: 62em) {
    main .container .box .landing .card article p {
        width: 35rem;
    }
}

@media (max-width: 62em) {
    main .container .box .landing .card article p {
        width: 35rem;
        margin: auto;
    }
}

main .container .box .landing-two {
  padding: 5rem 0;
}

main .container .box .landing-two .headding {
  margin-bottom: 10rem;
}

main .container .box .landing-two .headding h1 {
  font-size: 3.5rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 1.5rem;
}

main .container .box .landing-two .headding p {
  font-size: 1.8rem;
  width: 70rem;
  margin-inline: auto;
  color: hsl(201, 11%, 66%);
}

@media (max-width: 62em) {
    main .container .box .landing-two .headding p {
        width: 35rem;
        
    }
}

main .container .box .landing-two .image img {
    width: 70%;
}

@media (max-width: 62em) {
    main .container .box .landing-two .image img {
        width: 35rem;
        
    }
}

main .container .box .landing-three {
  padding: 5rem 0;
}

main .container .box .landing-three .headding {
  margin-bottom: 10rem;
}

main .container .box .landing-three .headding h1 {
  font-size: 3.5rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 1.5rem;
}

main .container .box .landing-three .headding p {
  font-size: 1.8rem;
  margin-inline: auto;
  color: hsl(201, 11%, 66%);
}

main .container .box .landing-three .services {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 62em) {
    main .container .box .landing-three .services {
        gap: 6rem;
    }
}

main .container .box .landing-three .services .service .image {
  width: 5rem;
  height: 5rem;
  margin: 0 auto 1.5rem;
}

main .container .box .landing-three .services .service h1 {
  font-size: 2.5rem;
  color: hsl(210, 10%, 33%);
  margin-bottom: 1.5rem;
}

main .container .box .landing-three .services .service p {
  font-size: 1.8rem;
  width: 40rem;
  margin-inline: auto;
  color: hsl(201, 11%, 66%);
}

main .container .box .company-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10rem 0;
}

@media (max-width: 62em) {
    main .container .box .company-logo {
        flex-direction: column;
        gap: 5rem;
    }
}

main .container .box .last-landing {
  padding: 5rem 0 10rem;
}

main .container .box .last-landing .headding {
  margin-bottom: 5rem;
}

main .container .box .last-landing .headding h1 {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
  color: hsl(210, 10%, 33%);
}

main .container .box .last-landing .headding p {
  font-size: 1.8rem;
  width: 70rem;
  margin-inline: auto;
  color: hsl(201, 11%, 66%);
}

@media (max-width: 62em) {
    main .container .box .last-landing .headding p {
        width: 33rem;
    }
}

main .container .box .last-landing .buttom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 62em) {
    main .container .box .last-landing .buttom {
        flex-direction: column;
        gap: 2rem;
    }
}

main .container .box .last-landing .buttom .ios {
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 1rem 3rem;
  background-color: hsl(171, 66%, 44%);
  font-size: 1.8rem;
  border-radius: 5vh;
  box-shadow: 0 3px 1px hsl(171, 66%, 44%);
}

main .container .box .last-landing .buttom .mac {
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  padding: 1rem 3rem;
  background-color: hsl(233, 100%, 69%);
  font-size: 1.8rem;
  border-radius: 5vh;
  box-shadow: 0 3px 1px hsl(233, 100%, 69%);
}

main .container .box footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0deg 0% 95.87%);
    padding: 3rem 10rem;
}

@media (max-width: 62em) {
    main .container .box footer {
        flex-direction: column;
        gap: 3rem;
    }
}

main .container .box footer .text {
    display: flex;
    align-items: center;
    gap: 7rem;
}

@media (max-width: 62em) {
    main .container .box footer .text {
        flex-direction: column;
        gap: 1rem;
    }
}

main .container .box footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 62em) {
    main .container .box footer .logo {
        margin-bottom: 1rem;
    }
}

main .container .box footer .logo img {
    width: 5rem;
    height: 5rem;
}

main .container .box footer .info{
    align-self: flex-start;
}

@media (max-width: 62em) {
    main .container .box footer .info {
        align-self: center;
    }
}

main .container .box footer .info span {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: hsl(201deg 4.74% 44.43%);
}

@media (max-width: 62em) {
    main .container .box footer .info span {
        margin-bottom: 2rem;
    }
}


main .container .box footer .icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 62em) {
    main .container .box footer .icons {
        gap: 5rem;
    }
}


